// Import base framework
@import "framework/normalize";
@import "framework/framework";
@import "framework/icons";

#header {
  padding: 1.5rem 0;
}

#header ul.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  margin-bottom: 0;
  list-style: none;
}

#header ul.nav > li {
  display: inline-block;
  margin-bottom: 0;
}

#header ul.nav > li > a {
  font-size: 2.0rem;
  font-weight: 400;
  color: $primary-color;
}

#header ul.nav > li > a:hover {
  font-style: italic;
}

@media (min-width: 40rem) {
  #header ul.nav {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

#home {
  padding-top: 8%;
  padding-bottom: 8%;
  background-color: $primary-color;
  background-image: url(../img/office-shot.jpg);
  background-size: cover;
  background-position: center center;
}

#home * {
  color: #fff;
}

#contact {
  text-align: center;
}

#contact .cta {
  padding-top: 6%;
  padding-bottom: 6%;
  background-color: $primary-color;
}

#contact .cta * {
  color: #fff;
}

@media (min-width: 40rem) {
  #contact .cta .column {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
